html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'BallparkWeiner', cursive;
    font-size: 13pt;
    background-color: #BDBDBD;
    padding: 10px;
    margin: 0;
}


 #banniere_image
  {
    
    height: 200px;
    border-radius: 15px ;
    background-image: url("https://www.pourlesnuls.fr/sites/pourlesnuls.edinul-pw01.msp.fr.clara.net/files/styles/image_couverture_article/public/qcm_litte_banniere.png?itok=e4o9Ufb8");
   
   /* background: url('images/sanfrancisco.jpg') no-repeat; */
    
    box-shadow: 0px 4px 4px #795548;
  

   /* 
    padding: 15px;
    margin: 15px;
    height: 390px;
    width: 500px;
    /*margin-bottom: 10px;
    border-radius: 10px; */
}
#banner_title {
    font-size: 35pt;
    color: #757575;
    padding-top: 50px ;
    margin: 0;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 4px 4px #000000 ;
}
section {
    background-color:#efefef;
    padding: 15px;
    margin: 15px;
    height: 200px;
    
    display: block;
    /*margin-bottom: 10px;*/
    border-radius: 10px;
}

nav{
    margin :auto;
    position: center;
    background-color: #795548;
    border-radius: 15px 15px 0px 0px ;
    
  }
 
nav a{
   
    text-decoration:none;
    color:#5D4037; 
    font-size:18px; 
    padding: 25px 35px; 
    display:inline-block; 
    transition: all 0.5s ease 0s;
  }
 
  nav a:hover{
    background-color:#D7CCC8; 
    color:#795548; 
    transition: all 0.5s ease 0s;
    border-radius: 3px;

  }

  #E1{
    background-color:#D7CCC8; 
    color:#795548; 
    transition: all 0.5s ease 0s;
    border-radius: 3px;

  }

  input
  {
      display: inline;
  }

  label{
      display: block;
  }
#bloc_questionnaire{
    border: #795548;
    border-style: solid;
    border-radius: 0px 0px 15px 15px;
    

}

#butonNext{
    position: center;
    color: #607D8B;
    border-radius: 3px;
    margin-left: 40%;
    width: 300px;
    height: 50px;
    background-color: #D7CCC8;
    font-family: 'BallparkWeiner', cursive;
    font-size: 13pt;
}